In [141]:
import pandas as pd
import math

## News Data

In [142]:
news_data = pd.read_csv ( 'data/news/Combined_News_DJIA.csv')
news_data.head()

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,2008-08-08,0,"b""Georgia 'downs two Russian warplanes' as cou...",b'BREAKING: Musharraf to be impeached.',b'Russia Today: Columns of troops roll into So...,b'Russian tanks are moving towards the capital...,"b""Afghan children raped with 'impunity,' U.N. ...",b'150 Russian tanks have entered South Ossetia...,"b""Breaking: Georgia invades South Ossetia, Rus...","b""The 'enemy combatent' trials are nothing but...",...,b'Georgia Invades South Ossetia - if Russia ge...,b'Al-Qaeda Faces Islamist Backlash',"b'Condoleezza Rice: ""The US would not act to p...",b'This is a busy day: The European Union has ...,"b""Georgia will withdraw 1,000 soldiers from Ir...",b'Why the Pentagon Thinks Attacking Iran is a ...,b'Caucasus in crisis: Georgia invades South Os...,b'Indian shoe manufactory - And again in a se...,b'Visitors Suffering from Mental Illnesses Ban...,"b""No Help for Mexico's Kidnapping Surge"""
1,2008-08-11,1,b'Why wont America and Nato help us? If they w...,b'Bush puts foot down on Georgian conflict',"b""Jewish Georgian minister: Thanks to Israeli ...",b'Georgian army flees in disarray as Russians ...,"b""Olympic opening ceremony fireworks 'faked'""",b'What were the Mossad with fraudulent New Zea...,b'Russia angered by Israeli military sale to G...,b'An American citizen living in S.Ossetia blam...,...,b'Israel and the US behind the Georgian aggres...,"b'""Do not believe TV, neither Russian nor Geor...",b'Riots are still going on in Montreal (Canada...,b'China to overtake US as largest manufacturer',b'War in South Ossetia [PICS]',b'Israeli Physicians Group Condemns State Tort...,b' Russia has just beaten the United States ov...,b'Perhaps *the* question about the Georgia - R...,b'Russia is so much better at war',"b""So this is what it's come to: trading sex fo..."
2,2008-08-12,0,b'Remember that adorable 9-year-old who sang a...,"b""Russia 'ends Georgia operation'""","b'""If we had no sexual harassment we would hav...","b""Al-Qa'eda is losing support in Iraq because ...",b'Ceasefire in Georgia: Putin Outmaneuvers the...,b'Why Microsoft and Intel tried to kill the XO...,b'Stratfor: The Russo-Georgian War and the Bal...,"b""I'm Trying to Get a Sense of This Whole Geor...",...,b'U.S. troops still in Georgia (did you know t...,b'Why Russias response to Georgia was right',"b'Gorbachev accuses U.S. of making a ""serious ...","b'Russia, Georgia, and NATO: Cold War Two'",b'Remember that adorable 62-year-old who led y...,b'War in Georgia: The Israeli connection',b'All signs point to the US encouraging Georgi...,b'Christopher King argues that the US and NATO...,b'America: The New Mexico?',"b""BBC NEWS | Asia-Pacific | Extinction 'by man..."
3,2008-08-13,0,b' U.S. refuses Israel weapons to attack Iran:...,"b""When the president ordered to attack Tskhinv...",b' Israel clears troops who killed Reuters cam...,b'Britain\'s policy of being tough on drugs is...,b'Body of 14 year old found in trunk; Latest (...,b'China has moved 10 *million* quake survivors...,"b""Bush announces Operation Get All Up In Russi...",b'Russian forces sink Georgian ships ',...,b'Elephants extinct by 2020?',b'US humanitarian missions soon in Georgia - i...,"b""Georgia's DDOS came from US sources""","b'Russian convoy heads into Georgia, violating...",b'Israeli defence minister: US against strike ...,b'Gorbachev: We Had No Choice',b'Witness: Russian forces head towards Tbilisi...,b' Quarter of Russians blame U.S. for conflict...,b'Georgian president says US military will ta...,b'2006: Nobel laureate Aleksander Solzhenitsyn...
4,2008-08-14,1,b'All the experts admit that we should legalis...,b'War in South Osetia - 89 pictures made by a ...,b'Swedish wrestler Ara Abrahamian throws away ...,b'Russia exaggerated the death toll in South O...,b'Missile That Killed 9 Inside Pakistan May Ha...,"b""Rushdie Condemns Random House's Refusal to P...",b'Poland and US agree to missle defense deal. ...,"b'Will the Russians conquer Tblisi? Bet on it,...",...,b'Bank analyst forecast Georgian crisis 2 days...,"b""Georgia confict could set back Russia's US r...",b'War in the Caucasus is as much the product o...,"b'""Non-media"" photos of South Ossetia/Georgia ...",b'Georgian TV reporter shot by Russian sniper ...,b'Saudi Arabia: Mother moves to block child ma...,b'Taliban wages war on humanitarian aid workers',"b'Russia: World ""can forget about"" Georgia\'s...",b'Darfur rebels accuse Sudan of mounting major...,b'Philippines : Peace Advocate say Muslims nee...

In [143]:
news_data['Date'] = pd.to_datetime(news_data['Date'])

In [144]:
start_date = news_data['Date'].min()

## Stock Data

In [145]:
stock_data = pd.read_csv ( 'data/stocks/etfs/SPY.csv')
stock_data.head()

         Date      Open      High       Low     Close  Adj Close   Volume
0  1993-01-29  43.96875  43.96875  43.75000  43.93750  26.299288  1003200
1  1993-02-01  43.96875  44.25000  43.96875  44.25000  26.486324   480500
2  1993-02-02  44.21875  44.37500  44.12500  44.34375  26.542448   201300
3  1993-02-03  44.40625  44.84375  44.37500  44.81250  26.822998   529400
4  1993-02-04  44.96875  45.09375  44.46875  45.00000  26.935240   531500

In [146]:
stock_data['Date'] = pd.to_datetime(stock_data['Date'])

In [147]:
stock_data.head( 6)

        Date      Open      High       Low     Close  Adj Close   Volume
0 1993-01-29  43.96875  43.96875  43.75000  43.93750  26.299288  1003200
1 1993-02-01  43.96875  44.25000  43.96875  44.25000  26.486324   480500
2 1993-02-02  44.21875  44.37500  44.12500  44.34375  26.542448   201300
3 1993-02-03  44.40625  44.84375  44.37500  44.81250  26.822998   529400
4 1993-02-04  44.96875  45.09375  44.46875  45.00000  26.935240   531500
5 1993-02-05  44.96875  45.06250  44.71875  44.96875  26.916538   492100

In [149]:
stock_data['forward_gains'] = -stock_data['Adj Close'].diff( periods = -4)
stock_data.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume,forward_gains
0,1993-01-29,43.96875,43.96875,43.75000,43.93750,26.299288,1003200,0.635952
1,1993-02-01,43.96875,44.25000,43.96875,44.25000,26.486324,480500,0.430214
2,1993-02-02,44.21875,44.37500,44.12500,44.34375,26.542448,201300,0.374090
3,1993-02-03,44.40625,44.84375,44.37500,44.81250,26.822998,529400,-0.093508
4,1993-02-04,44.96875,45.09375,44.46875,45.00000,26.935240,531500,-0.168341
5,1993-02-05,44.96875,45.06250,44.71875,44.96875,26.916538,492100,-0.018703
6,1993-02-08,44.96875,45.12500,44.90625,44.96875,26.916538,596100,-0.224466
7,1993-02-09,44.81250,44.81250,44.56250,44.65625,26.729490,122100,-0.710791
8,1993-02-10,44.65625,44.75000,44.53125,44.71875,26.766899,379600,-0.766907
9,1993-02-11,44.78125,45.12500,44.78125,44.93750,26.897835,19500,-0.916559

## Combine Data

In [150]:
stock_data = stock_data.set_index('Date')

In [151]:
def process_entry ( entry ):
    if ( entry != entry ):
        return ""
    return entry[2:-1]

In [152]:
headlines = []
for i,row in news_data.iterrows():
    _date = row[0]
    _headlines = list( map( process_entry, row[2:].values ) )
    _gains = stock_data.loc[[_date]]['forward_gains'][0]
    for head in _headlines:
        headlines.append( (_gains, head.lower()) )
    if ( i % 300 == 0 ):
        print( i )

0
300
600
900
1200
1500
1800

In [165]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\Eric
[nltk_data]     Robertson\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [192]:
import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))

from nltk.stem.porter import PorterStemmer
porter = PorterStemmer()

In [172]:
import string
table = str.maketrans('', '', string.punctuation)

In [174]:
combined = pd.DataFrame(headlines, columns =['market', 'headline']) 
combined.head()

     market                                           headline
0  0.133369  georgia 'downs two russian warplanes' as count...
1  0.133369               breaking: musharraf to be impeached.
2  0.133369  russia today: columns of troops roll into sout...
3  0.133369  russian tanks are moving towards the capital o...
4  0.133369  afghan children raped with 'impunity,' u.n. of...

In [175]:
len(combined)

49725

## Generate NLP Model

In [176]:
import nltk
from nltk.classify import NaiveBayesClassifier
nltk.download('punkt')

[nltk_data] Downloading package punkt to C:\Users\Eric
[nltk_data]     Robertson\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [193]:
def format_sentence(sent):
    tokens = word_tokenize( sent )
    stripped = [w.translate(table) for w in tokens]
    words = [word for word in stripped if word.isalpha()]
    words = [w for w in words if not w in stop_words]
    stemmed = [porter.stem(word) for word in words]
    return ({word: True for word in stemmed})

In [194]:
pos = []
pos_examples = combined[ combined['market'] > 0 ]
for i,row in pos_examples.iterrows():
    formatted = format_sentence( row['headline'])
    pos.append([formatted, 'pos'])
    if ( i % 10000 == 0 ):
        print( 'pos', i )

pos 0
pos 10000
pos 20000
pos 30000
pos 40000

In [195]:
import random

In [196]:
neg = []
neg_examples = combined[ combined['market'] < 0 ]
for i,row in neg_examples.iterrows():
    formatted = format_sentence( row['headline'])
    neg.append([formatted, 'neg'])
    if ( random.randint(0,1000) == 0 ):
        print( 'neg', i )

neg 2525
neg 5570
neg 7190
neg 16018
neg 17466
neg 20999
neg 21016
neg 23468
neg 24318
neg 26747
neg 30550
neg 31345
neg 33418
neg 36010
neg 43722

In [197]:
all_data = pos + neg

random.shuffle(all_data)

split = int( 0.8 * len(all_data) )

training = all_data[:split]
test  = all_data[split:]

print( len(training), 'training', len(test), 'test')

39740 training 9935 test

In [198]:
from nltk.classify import NaiveBayesClassifier

classifier = NaiveBayesClassifier.train(training)

In [199]:
classifier.show_most_informative_features()

Most Informative Features
               dominican = True              neg : pos    =      8.4 : 1.0
                 ramadan = True              neg : pos    =      8.4 : 1.0
                    nsfw = True              pos : neg    =      8.2 : 1.0
                  attach = True              neg : pos    =      7.6 : 1.0
                 navalni = True              neg : pos    =      7.6 : 1.0
                     foo = True              neg : pos    =      7.6 : 1.0
                    beam = True              neg : pos    =      7.6 : 1.0
                   chose = True              neg : pos    =      7.6 : 1.0
                    rean = True              neg : pos    =      7.6 : 1.0
                    buse = True              pos : neg    =      6.7 : 1.0

In [200]:
from nltk.classify.util import accuracy
print(accuracy(classifier, test))

0.5391041771514846